<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Mesin ATM</title>
</head>

<body class="bg-blue-600">
    <div class="text-center mt-20">
        <p class="text-4xl text-white font-bold">SILAHKAN AMBIL KARTU ANDA</p>
    </div>
    <div class="flex justify-center mt-52">
        <img src="/img/ambil.png" class="w-96">
    </div>
</body>

</html>