<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Mesin ATM</title>
</head>

<body class="bg-blue-600 mx-14 my-14">
    <div class="w-6/12 text-center">
        <h1 class="text-white font-semibold text-4xl">SILAHKAN MASUKAN KARTU <br>ANDA
            <h1>
    </div>
    <div>
        <div class="mx-auto mr-20 w-1/2">
            <img src="/img/insert.png" alt="">
        </div>
        <div>
            <div class="w-6/12 text-center">
                <h1 class="text-white font-semibold text-4xl">PLEASE INSERT YOUR CARD</h1>
            </div>
</body>

</html>